%footer.page-footer.blue.accent-3.white-text
  .container
    .row
      .col.s12.l8
        %h5 TAKT
        %p Something write here please.


      .col.s12.l4
        %ul
          - 5.times do |i|
            %li= link_to "Bottom naviagation","",class: "white-text"

  .footer-copyright
    .center
      Copyright © 2015 TAKT Inc. All rights reserved.
