
%table.bordered.responsive-table
  %tr
    %td 会社名
    %td 株式会社タクト
  %tr
    %td 設立
    %td 平成11年1月12日
  %tr
    %td 資本金
    %td 300万円
  %tr
    %td 事業内容
    %td 業務請負業・労働派遣事業
  %tr
    %td 主要取引先
    %td
      谷庄建設株式会社　［アルミ製品の検査・梱包］
      %br/
      高宮産業有限会社　［タイヤ生産・造園・清掃］
      %br/

  %tr
    %td 取引銀行
    %td 関西アーバン銀行
  %tr
    %td 役員
    %td 代表取締役　石原久
  %tr
    %td 従業員数
    %td
      252名
      %br/
      （有）オーテック 62名
  %tr
    %td 社員寮
    %td 20ヶ所
  %tr
    %td 住所
    %td
      〒526-0021
      %br/
      滋賀県長浜市八幡中山町251番地
  %tr
    %td 電話番号 
    %td 074-968-6177
  %tr
    %td FAX
    %td 074-968-6123


